.jumbotron{
    padding-top: 4rem;
    background-color: #9672fb3f;
}
.jumbotron img{  
    margin-top: 3rem;  
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

section{
    padding-top: 5rem;
}

.lead{
    font-size: 30px;
    font-weight: bold;
}

.ld{
    text-decoration: underline;
}

footer{
    padding-top: 5rem;
}