*, html, body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #9672fb3f;
}
.container{
    padding: 10px;
    background-color: #764AF1;
    height: 100%;
    display: sticky;
    top: 0;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    margin-right: 10px; 
    
}
nav li{
    list-style-type: none;
    margin: 4px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: small;
}

nav li :hover{
    background-color: white;
    color: #764AF1;
    padding: 1px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.profile {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 20vh;
}

.picprof {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    
}

.profile h1{
    margin: 10px;
}
.profile p{
    text-decoration: underline;
    font-size: medium;
}

main {
    margin: auto;
    width: 80%;
}
main h3{
    text-align: center;
    margin: 20px;
}

.article{
    height: auto;
    width: 75%;
    display: flex;
    text-align: center;
}

.article > p{
    margin: 50px;
}

.project{
    width: 75%;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
}

@media (max-width: 560px)  {    
    .project{
        grid-template-columns: 1fr 1fr;
    }    
}
@media (max-width: 768px) {
    .article{
        display:contents ;
        width: 90%;
    }
    
}

@media (min-width: 768px) {
    
    
    .project{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
.card{
    background-color: #9772FB;
    text-align: center;
    color: white;
    text-decoration: none;
    flex-direction: column;
    min-height: 100%;
    top: 0;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card .thumb{
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contact{
    width: 40%;
    height: auto;
    justify-content: flex-start;
    margin-top: 70px;
}

.contacttext > p{
    font-size: larger;
    margin-bottom: 5px;
    margin-top: 15px;
}

.small {
    padding-left: 60%;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
}

.xl{    
    padding-left: 60%;
    padding-bottom: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
}

.footer {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: #764AF1;
    color: white;
    text-align: center;
}

.footer p {
    line-height: 50px;
}

input[type="submit"]{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    background-color: #764AF1;
}

